---
import CalendarEvents from "../../cal";
import Layout from "../../layouts/Layout.astro";
import { dateTimeFormat } from "../../utils";

export function getStaticPaths() {
  return CalendarEvents.entries()
    .flatMap((x) =>
      x[1].keys().map((y) => ({ params: { building: x[0], room: y } })),
    )
    .toArray();
}

const { building, room } = Astro.params;

const events = CalendarEvents.get(building)!
  .get(room!)
  ?.toSorted((a, b) =>
    a.start.date < b.start.date ? -1 : a.start.date > b.start.date ? 1 : 0,
  );

const DURATION_24H = 1000 * 3600 * 24;
let weekFirstDay = new Date(
  Date.now() - (new Date().getDay() - 1) * DURATION_24H,
);
weekFirstDay.setHours(0);
weekFirstDay.setMinutes(0);
weekFirstDay.setSeconds(0);
weekFirstDay.setMilliseconds(0);
const weekdays = [
  "Maanantai",
  "Tiistai",
  "Keskiviikko",
  "Torstai",
  "Perjantai",
  "Lauantai",
  "Sunnuntai",
];
const weekdaysShort = ["Ma", "Ti", "Ke", "To", "Pe", "La", "Su"];
---

<Layout title={`${building} - ${room}`}>
  <div class="table-wrap">
    <table>
      <tr>
        <th colspan="5">
          <div style="margin: auto; width: fit-content;">
            {building}, {room}
          </div>
        </th>
      </tr>
      <tr>
        {
          weekdays.map((day, idx) => (
            <>
              <tr>
                <th colspan="5">
                  <div style="margin: auto; width: fit-content;">{day}</div>
                </th>
              </tr>
              {events?.filter(
                (x) =>
                  x.start.date >=
                    new Date(weekFirstDay.getTime() + DURATION_24H * idx) &&
                  x.start.date <
                    new Date(weekFirstDay.getTime() + DURATION_24H * (idx + 1)),
              ).length === 0 ? (
                <tr>
                  <td colspan="5">
                    <div style="margin: auto; width: fit-content;">
                      Ei tapahtumia.
                    </div>
                  </td>
                </tr>
              ) : (
                ""
              )}
              {events
                ?.filter(
                  (x) =>
                    x.start.date >=
                      new Date(weekFirstDay.getTime() + DURATION_24H * idx) &&
                    x.start.date <
                      new Date(
                        weekFirstDay.getTime() + DURATION_24H * (idx + 1),
                      ),
                )
                .map((x) => (
                  <tr style="width: 100%">
                    <td style="margin: auto;">
                      {weekdaysShort[x.start.local!.date.getDay() - 1]}
                    </td>
                    <td>
                      {`${x.start.local?.date.getDate()}.${x.start!.local!.date.getMonth() + 1}.${x.start!.local!.date.getFullYear()}`}
                    </td>
                    <td style="white-space: nowrap;">
                      {dateTimeFormat(x.start.local!.date)} -{" "}
                      {dateTimeFormat(x.end!.local!.date)}
                    </td>
                    <td>{x.summary}</td>
                    <td>{x.organizer}</td>
                  </tr>
                ))}
            </>
          ))
        }
      </tr>
      <tr>
        <th colspan="5">
          <div style="margin: auto; width: fit-content;">Myöhemmin</div>
        </th>
      </tr>
      {
        events
          ?.filter(
            (x) =>
              x.start.date >=
              new Date(weekFirstDay.getTime() + DURATION_24H * 7),
          )
          .map((x) => (
            <tr>
              <td>{weekdaysShort[x.start.local!.date.getDay() - 1]}</td>
              <td>
                {`${x.start.local?.date.getDate()}.${x.start!.local!.date.getMonth() + 1}.${x.start!.local!.date.getFullYear()}`}
              </td>
              <td>
                {dateTimeFormat(x.start.local!.date)} -{" "}
                {dateTimeFormat(x.end!.local!.date)}
              </td>
              <td>{x.summary}</td>
              <td>{x.organizer}</td>
            </tr>
          ))
      }
    </table>
  </div>
</Layout>
